For your Individual Project, using the same nyc-violations data, conduct an Exploratory Data Analysis on the dataset and 
produce a report in your Jupyter Notebook describing insights gleaned from the dataset. Please note that this EDA report 
must contain appropriate visualizations, to show trends and insights gleaned.


Clean data: Check for missing or duplicate values, and handle them appropriately.
    
Summarize data: Use descriptive statistics and visualization techniques to get a general sense of the data. 
    
Use Exploratory Data Analysi(EDA): Look for patterns, relationships, and outliers in the data. This can be done using visualization techniques such as scatter plots, histograms, and box plots.
    
Hypotheses Formulation: Based on the patterns and relationships you find in the data, formulate hypotheses about the underlying data generating process.
    
Test hypotheses: Use statistical methods to test the hypotheses you have formulated.

In [3]:
import pandas as pd

import numpy as np

from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv('data 1.csv')

C:\Users\Kingsley Y. Asiedu\AppData\Local\Temp\ipykernel_19564\3883447169.py:1: DtypeWarning: Columns (34,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data 1.csv')

In [6]:
df.shape

(50113, 45)

In [8]:
df.describe()

,Summons Number,Violation Code,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Date First Observed,Law Section,Vehicle Year,Feet From Curb,Hydrant Violation,Double Parking Violation,Unnamed: 43,Unnamed: 44
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,5.000000e+04,32108.000000,50000.000000,50000.000000,50000.000000,5.000000e+04,50000.000000,49998.000000,49998.000000,0.0,0.0,0.0,0.0
mean,7.017655e+09,31.944140,19683.326600,16648.178160,16489.137900,2.263959e+07,55.419179,35.587980,36.484520,245380.380060,1.793843e+05,678.956340,1578.424137,0.102724,NaN,NaN,NaN,NaN
std,2.258812e+09,16.088848,22499.739403,21237.655634,21342.886145,2.874199e+07,37.929945,40.368544,57.775561,198873.940614,1.895158e+06,363.910942,828.935970,0.740406,NaN,NaN,NaN,NaN
min,1.254533e+09,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000e+00,408.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,4.708005e+09,20.000000,0.000000,0.000000,0.000000,0.000000e+00,19.000000,0.000000,0.000000,0.000000,0.000000e+00,408.000000,2003.000000,0.000000,NaN,NaN,NaN,NaN
50%,8.729645e+09,36.000000,12720.000000,10210.000000,9640.000000,2.020123e+07,49.000000,18.000000,14.000000,357738.000000,0.000000e+00,408.000000,2013.000000,0.000000,NaN,NaN,NaN,NaN
75%,8.815425e+09,38.000000,34210.000000,27050.000000,27150.000000,2.022029e+07,90.000000,68.000000,67.000000,367858.000000,0.000000e+00,1180.000000,2018.000000,0.000000,NaN,NaN,NaN,NaN
max,8.880300e+09,99.000000,95130.000000,98100.000000,97950.000000,8.888889e+07,123.000000,123.000000,985.000000,986021.000000,2.020112e+07,1180.000000,2069.000000,13.000000,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50113 entries, 0 to 50112
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Summons Number                     50000 non-null  float64
 1   Plate ID                           50000 non-null  object
 2   Registration State                 50000 non-null  object
 3   Plate Type                         50000 non-null  object
 4   Issue Date                         50000 non-null  object
 5   Violation Code                     50000 non-null  float64
 6   Vehicle Body Type                  49855 non-null  object
 7   Vehicle Make                       49864 non-null  object
 8   Issuing Agency                     50000 non-null  object
 9   Street Code1                       50000 non-null  float64
 10  Street Code2                       50000 non-null  float64
 11  Street Code3                       50000 non-null  float64
 12  Vehicle Expiration Date            50000 non-null  float64
 13  Violation Location                 32108 non-null  float64
 14  Violation Precinct                 50000 non-null  float64
 15  Issuer Precinct                    50000 non-null  float64
 16  Issuer Code                        50000 non-null  float64
 17  Issuer Command                     32144 non-null  object
 18  Issuer Squad                       32144 non-null  object
 19  Violation Time                     49999 non-null  object
 20  Time First Observed                1889 non-null   object
 21  Violation County                   49883 non-null  object
 22  Violation In Front Of Or Opposite  31933 non-null  object
 23  House Number                       31729 non-null  object
 24  Street Name                        49990 non-null  object
 25  Intersecting Street                22716 non-null  object
 26  Date First Observed                50000 non-null  float64
 27  Law Section                        50000 non-null  float64
 28  Sub Division                       49998 non-null  object
 29  Violation Legal Code               17856 non-null  object
 30  Days Parking In Effect             32144 non-null  object
 31  From Hours In Effect               19606 non-null  object
 32  To Hours In Effect                 19606 non-null  object
 33  Vehicle Color                      47583 non-null  object
 34  Unregistered Vehicle?              2110 non-null   object
 35  Vehicle Year                       49998 non-null  float64
 36  Meter Number                       2152 non-null   object
 37  Feet From Curb                     49998 non-null  float64
 38  Violation Post Code                30038 non-null  object
 39  Violation Description              22799 non-null  object
 40  No Standing or Stopping Violation  8 non-null      object
 41  Hydrant Violation                  0 non-null      float64
 42  Double Parking Violation           0 non-null      float64
 43  Unnamed: 43                        0 non-null      float64
 44  Unnamed: 44                        0 non-null      float64
dtypes: float64(18), object(27)
memory usage: 17.2+ MB

In [10]:
df.head(100)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Unnamed: 43,Unnamed: 44
0,4.714702e+09,KGK6659,NY,PAS,11-12-20,36.0,4DSD,BMW,V,0.0,...,2007.0,NaN,0.0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,NaN,NaN
1,8.793685e+09,L5232HY,TN,PAS,09/14/2020,21.0,TRAC,INTER,T,60790.0,...,0.0,NaN,0.0,W,NaN,NaN,NaN,NaN,NaN,NaN
2,8.864757e+09,BPMN76,FL,PAS,11/25/2020,20.0,SUBN,NISSA,T,36030.0,...,0.0,NaN,0.0,49,20A-No Parking (Non-COM),NaN,NaN,NaN,NaN,NaN
3,8.778326e+09,57387MJ,NY,COM,08/20/2020,38.0,VAN,NaN,T,34430.0,...,2016.0,NaN,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,4.706641e+09,M81KFJ,NJ,PAS,09-09-20,36.0,UT,TOYOT,V,0.0,...,2002.0,NaN,0.0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8.544336e+09,590579R,NJ,PAS,08-10-20,21.0,BUS,FORD,T,5880.0,...,0.0,NaN,0.0,59,NaN,NaN,NaN,NaN,NaN,NaN
96,4.697124e+09,050LGW,OR,PAS,07-03-20,36.0,4D,KIA,V,0.0,...,2019.0,NaN,0.0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,NaN,NaN
97,8.797026e+09,AE22026,AZ,PAS,07/26/2020,14.0,VAN,GMC,T,34050.0,...,0.0,NaN,0.0,8,NaN,NaN,NaN,NaN,NaN,NaN
98,8.834014e+09,JNL2717,NY,PAS,10/22/2020,40.0,SUBN,DODGE,T,8790.0,...,2006.0,NaN,0.0,U,NaN,NaN,NaN,NaN,NaN,NaN
99,8.817431e+09,612714R,NJ,PAS,11-10-20,14.0,4DSD,TOYOT,T,9440.0,...,0.0,NaN,0.0,02-A,14-No Standing,NaN,NaN,NaN,NaN,NaN

In [11]:
df.tail(100)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Unnamed: 43,Unnamed: 44
50013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.dropna()

Empty DataFrame
Columns: [Summons Number, Plate ID, Registration State, Plate Type, Issue Date, Violation Code, Vehicle Body Type, Vehicle Make, Issuing Agency, Street Code1, Street Code2, Street Code3, Vehicle Expiration Date, Violation Location, Violation Precinct, Issuer Precinct, Issuer Code, Issuer Command, Issuer Squad, Violation Time, Time First Observed, Violation County, Violation In Front Of Or Opposite, House Number, Street Name, Intersecting Street, Date First Observed, Law Section, Sub Division, Violation Legal Code, Days Parking In Effect    , From Hours In Effect, To Hours In Effect, Vehicle Color, Unregistered Vehicle?, Vehicle Year, Meter Number, Feet From Curb, Violation Post Code, Violation Description, No Standing or Stopping Violation, Hydrant Violation, Double Parking Violation, Unnamed: 43, Unnamed: 44]
Index: []

[0 rows x 45 columns]

In [15]:
df.shape

(50113, 45)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50113 entries, 0 to 50112
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Summons Number                     50000 non-null  float64
 1   Plate ID                           50000 non-null  object
 2   Registration State                 50000 non-null  object
 3   Plate Type                         50000 non-null  object
 4   Issue Date                         50000 non-null  object
 5   Violation Code                     50000 non-null  float64
 6   Vehicle Body Type                  49855 non-null  object
 7   Vehicle Make                       49864 non-null  object
 8   Issuing Agency                     50000 non-null  object
 9   Street Code1                       50000 non-null  float64
 10  Street Code2                       50000 non-null  float64
 11  Street Code3                       50000 non-null  float64
 12  Vehicle Expiration Date            50000 non-null  float64
 13  Violation Location                 32108 non-null  float64
 14  Violation Precinct                 50000 non-null  float64
 15  Issuer Precinct                    50000 non-null  float64
 16  Issuer Code                        50000 non-null  float64
 17  Issuer Command                     32144 non-null  object
 18  Issuer Squad                       32144 non-null  object
 19  Violation Time                     49999 non-null  object
 20  Time First Observed                1889 non-null   object
 21  Violation County                   49883 non-null  object
 22  Violation In Front Of Or Opposite  31933 non-null  object
 23  House Number                       31729 non-null  object
 24  Street Name                        49990 non-null  object
 25  Intersecting Street                22716 non-null  object
 26  Date First Observed                50000 non-null  float64
 27  Law Section                        50000 non-null  float64
 28  Sub Division                       49998 non-null  object
 29  Violation Legal Code               17856 non-null  object
 30  Days Parking In Effect             32144 non-null  object
 31  From Hours In Effect               19606 non-null  object
 32  To Hours In Effect                 19606 non-null  object
 33  Vehicle Color                      47583 non-null  object
 34  Unregistered Vehicle?              2110 non-null   object
 35  Vehicle Year                       49998 non-null  float64
 36  Meter Number                       2152 non-null   object
 37  Feet From Curb                     49998 non-null  float64
 38  Violation Post Code                30038 non-null  object
 39  Violation Description              22799 non-null  object
 40  No Standing or Stopping Violation  8 non-null      object
 41  Hydrant Violation                  0 non-null      float64
 42  Double Parking Violation           0 non-null      float64
 43  Unnamed: 43                        0 non-null      float64
 44  Unnamed: 44                        0 non-null      float64
dtypes: float64(18), object(27)
memory usage: 17.2+ MB